.board {
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	&.is-active {
		cursor: not-allowed;
	}
}

.field {
	border: 1px solid grey;
	&.is-alive {
		background-color: black;
	}
}

.list {
	margin-bottom: 0;
}
