<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
	<link href="css/ionic.app.css" rel="stylesheet">
	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>
	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>
	<script src="lib/lodash/dist/lodash.js"></script>
	<!-- your app's js -->
	<script src="js/gameController.js"></script>
	<script src="js/game.js"></script>
	<script src="js/rules.js"></script>
	<script src="js/patterns.js"></script>
	<script src="js/app.js"></script>
</head>

<body ng-app="starter">
	<ion-pane>
		<ion-header-bar class="bar-stable">
			<h1 class="title">Conway Game Of Life</h1>
		</ion-header-bar>
		<ion-content>
			<div ng-controller="gameController">
				<div class="list">
					<label class="item item-input item-select">
						<div class="input-label">
							Pattern
						</div>
						<select ng-disabled="active" ng-options="pattern as pattern.title for pattern in patterns" ng-model="selectedPattern"> </select>
					</label>
				</div>
				<div class="card" ng-show="gameOver">
					<div class="item item-text-wrap">
						Game Over.
					</div>
				</div>
				<div class="card" ng-show="!locked">
					<div class="item item-text-wrap">
						<i class="icon ion-edit"></i> You can now edit the pattern.
					</div>
				</div>
				<ion-scroll zooming="true" direction="xy">
					<table id="board" class="board" ng-attr-style="width: {{size * rows.length}}px; height: {{size * rows[0].length}}px" ng-class="{'is-active': active}">
						<tr ng-repeat="row in rows track by $index">
							<td ng-repeat="col in row track by $index" class="field" ng-class="{'is-alive': rows[$parent.$index][$index]}" ng-click="changeCellState($parent.$index, $index)" ng-disabled="active"></td>
						</tr>
					</table>
				</ion-scroll>
				<div class="button-bar">
					<button class="button button-positive icon ion-refresh" ng-click="loadPattern(selectedPattern)" ng-disabled="active"></button>
					<button class="button button-assertive icon ion-trash-a" ng-click="resetBoard()" ng-disabled="active"></button>
					<button class="button button-energized icon" ng-class="{'ion-locked': locked, 'ion-unlocked': !locked}" ng-click="toggleLocked()" ng-disabled="active"></button>
					<button class="button" ng-class="{'button-balanced icon ion-play': !active, 'button-assertive icon ion-stop': active}" ng-click="toggleActive()" ng-disabled="gameOver || !locked"></button>
				</div>
				<div class="item range">
					<i class="icon ion-ios-speedometer-outline"></i>
					<input type="range" name="speed" min="1" max="50" ng-model="roundsPerSecond">
					<i class="icon ion-ios-speedometer"></i>
				</div>
				<div class="item range">
					<i class="icon ion-minus"></i>
					<input type="range" name="size" min="{{minSize}}" max="{{maxSize}}" ng-model="size">
					<i class="icon ion-plus"></i>
				</div>
			</div>
		</ion-content>
	</ion-pane>
</body>

</html>
